@import "mocha.css";

@keyframes rainbow-animation {
	0% {color: @red;}
	12.5% {color: @peach;}
	25% {color: @yellow;}
	37.5% {color: @green;}
	50% {color: @blue;}
	62.5% {color: @lavender;}
	75% {color: @mauve;}
	87.5% {color: @pink;}
	100% {color: @red;}
}

#waybar {
	background: @base;
	border-radius: 15px;
	color: @blue;
	font-family: "JetBrainsMono NF";
	font-size: 16px;
}

#image {
	margin-left: 10px;
}

#custom-launcher {
	color: @blue;
	font-size: 20px;
	margin-left: 10px;
}

#workspaces button {
	border-radius: 0px;
	color: @sky;
	margin-bottom: 0px;
}

#workspaces button.persistent {
	border-top: 2px solid @yellow;
}

#workspaces button.empty {
	border-top: 2px solid @mauve;
}

#workspaces button.visible {
	border-bottom: 2px solid @peach;
	border-top: none;
	margin-top: 4px;
}

#workspaces button.active {
	border-bottom: 2px solid @green;
	border-top: none;
	color: @sky;
	margin-top: 4px;
}

#workspaces button.urgent {
	border-bottom: 2px solid @red;
	border-top: 2px solid @red;
	color: @red;
}

#window {
	color: @yellow;
	margin-left: 6px;
}

#custom-media,
#cava,
#mpris {
	animation-name: rainbow-animation;
	animation-duration: 7s;
	animation-iteration-count: infinite;
}

#cpu {
	color: @red;
	margin-right: 8px;
}

#memory {
	color: @peach;
	margin-right: 8px;
}

#network {
	color: @yellow;
	margin-right: 8px;
}

#wireplumber {
	color: @green;
	margin-right: 8px;
}

#clock {
	color: @blue;
	margin-right: 8px;
}

#custom-weather {
	color: @lavender;
	margin-right: 8px;
}

#bluetooth {
	color: @teal;
	margin-right: 10px;
}

#tray,
#tray.menu {
	margin-right: 10px;
	color: @back;
}
